<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prathmesh Dudhale Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Header Section -->

    <nav class="nav-bar">
        <h1>Portfolio.</h1>
        <div class="nav-div">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#services">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>

    </nav>

    <!-- Hero Section -->
    <section id="home" class="hero">
        <div class="hero-text">
            <h2>Hello, It's Me</h2>
            <h1>Prathmesh Dudhale</h1>
            <div class="about_text_top">
                <h3>And I'm a <span>Computer Engineering Student</span></h3>
                <p>Passionate about coding and creating stunning web experiences.</p>
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/prathamesh-dudhale-01b2b2259">Linkedin</a>

                    <a href="https://drive.google.com/file/d/1dV8V4DX9V0m5ZNMLLfr3EdrLeImUuaKT/view" class="btn">Download CV</a>
                </div>
            </div>
        </div>
        <div class="hero-image">
            <img src="static/profilePhoto.jpg" alt="Prathmesh Profile">
        </div>
    </section>

    <!-- About Me Section -->
    <section id="about" class="about">
        <h2 style="font-size: xx-large; color: #3fc3ff;;">About Me</h2>
        <div class="about-content">

            <div class="about-text">
                <p>I'm Prathmesh Dudhale, a Computer Engineering student with a passion for coding and technology. I
                    enjoy exploring innovative solutions and working on exciting projects related to AI, graphics, and
                    software development. This portfolio showcases my journey, skills, and projects. Lorem ipsum, dolor
                    sit amet consectetur adipisicing elit. Atque, officiis voluptatibus! Maxime aliquam repellat sequi
                    fuga, illum iure provident corporis dolorum atque dignissimos reprehenderit eum ea minima eligendi,
                    natus perspiciatis.</p>
                <p> Thank you for
                    visiting!</p>

            </div>
        </div>
    </section>

    <!-- Skills Section -->
    <section id="skills" class="skills">
        <h2>My <span>Skills</span></h2>
        <div class="skill">
            <h3>C Programming</h3>
            <div class="progress-container">
                <div class="progress" style="width: 90%;"></div>
            </div>
        </div>
        <div class="skill">
            <h3>C++ Programming</h3>
            <div class="progress-container">
                <div class="progress" style="width: 95%;"></div>
            </div>
        </div>
        <div class="skill">
            <h3>Python</h3>
            <div class="progress-container">
                <div class="progress" style="width: 80%;"></div>
            </div>
        </div>
        <div class="skill">
            <h3>SQL</h3>
            <div class="progress-container">
                <div class="progress" style="width: 85%;"></div>
            </div>
        </div>
        <div class="skill">
            <h3>Machine Learning</h3>
            <div class="progress-container">
                <div class="progress" style="width: 75%;"></div>
            </div>
        </div>
    </section>

    <!-- Projects Section -->
    <section id="services" class="services">
        <h2 class="service-main-head">My Projects</h2>
        <div class="service-cards">
            <div class="service" id="services-photo1">
            </div>
            <div class="service" id="services-photo2">
            </div>
            <div class="service" id="services-photo3">
            </div>
        </div>
    </section>

    <div class="line"></div>
    <!-- Contact Section -->
    <section id="contact" class="contact">
        <h2 id="contact-head">Contact Me</h2>
        <form action="/contact" method="POST" class="contact-form">
            <input type="text" name="name" placeholder="Full Name" required>
            <input type="email" name="email" placeholder="Email Address" required>
            <input type="text" name="mobile" placeholder="Mobile Number">
            <textarea name="message" placeholder="Message" required></textarea>
            <button type="submit" class="btn">Send Message</button>
        </form>
    </section>


    <footer>
        <p>THANK YOU FOR VISITING MY WEBSITE</p>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>